<h1>Display your Pirate here</h1>

  <h3><%= @pirate.name %></h3><br>
<<<<<<< HEAD
  <h3><p><%= @pirate.weight %></p></h3><br>
  <h3><p><%= @pirate.height %></p></h3>
=======
  <h3><p><%= @pirate.height %></p></h3><br>
  <h3><p><%= @pirate.weight %></p></h3>
>>>>>>> 59fa38077ca61eaeeeb83ca2748dbe63f9dccdce

<% @ships.each do |ship| %>
    <p>Name:<%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
<% end %>

